* {
  box-sizing: border-box;
  border: thin solid black;
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

#left{
  width:25%;
  float: left; /* también con display: inline;*/
  height: 100%;
}

#outside{
  width:75%;
  height: 100%;
  float: left; /* también con display: inline;*/
}

#top{
  width:100%;
  height: 25%;
  float: left; /* también con display: inline;*/
}

#inside{
  width:100%;
  height: 100%;
  float: left; /* también con display: inline;*/
}

#content{
  width:75%;
  height: 75%;
  float: left; /* también con display: inline;*/
}

#content-left{
  width: 50%;
  height: 75%;
  float: left; /* también con display: inline;*/
}
#content-right{
  width: 50%;
  height: 75%;
  float: left; /* también con display: inline;*/
}
#button{
  width: 100%;
  height: 25%;
  float: left; /* también con display: inline;*/
}
#right{
  width:25%;
  height: 100%;
  float: left; /* también con display: inline;*/
}